<!DOCTYPE html>
<html>
<head>

  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
  </script>



<script src="https://apis.google.com/js/platform.js" async defer></script>


<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->


</head>


<body>  


<!-- GOOGLE PLUS SIGN IN BUTTON-->
<div class="g-signin2" data-onsuccess="onSignIn"></div>

          
          <div id="signinButton">
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="784210025221-e7etvujki6c93q4489fd5eetqghe3tl6.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
        </div>

<div id="result"></div>


<!--END GOOGLE PLUS SIGN IN BUTTON -->

  </body>

</html>